/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   text-align: center;
   background-image: url(../images/bg-tile.gif);
   font-family: 'Open Sans';   
   font-size: 14px;   
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 930px;
    min-width: 530px;
}


/* Typography */

h1, h2 {

    color: #d17f38;
    
    font-family: "Love Ya Like A Sister", Solid;
}

h1 {

    font-size: 27px;

    border-bottom: 18px solid;
    width: 354px;
    margin-left: auto;
    margin-right:auto;

    border-image:url(../images/header-divider.png) 30;
    border-image-repeat: no-repeat;
}

h1 em {

    color: black;
}

h2 {

    font-size: 23px;

}

h3 {
    color: #4b2707;
        font-size: 17px;
        margin-bottom: 0px;
        margin-top: 0px;
}

p.lead {

    margin-bottom: 10px;

    font-size: 30px;
}

p {
    color: #4b2707;

    margin-top: 0px;
}

a:link, a:visited {

}

a:hover {

}

hr {

    border: none;
    width: 354px;
    height: 33px;
    background-image:url(../images/divider.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;

}


/* Header */

header nav {

}

header nav ul {
    width: 100%
}

header nav ul li {

    display: inline-block;
    width: 18%;
    height: 100px;
    padding-left: 5px; 
    /*margin: 5px;*/
    text-align:center;
    list-style: none;
    /*border-style: dashed;*/
}

header nav ul li a {
    color: #d17f38;
    text-decoration: none;
    font-weight: bold;
    /*mettre la meme valeur ici que pour "header nav ul li" dans height*/
    line-height: 100px;
    padding-top: 25px;
    margin-top: -25px;
    
}

header nav ul li a:hover {
    color: #4b2707;
    background: url(../images/tiny-donut.png) no-repeat;
    background-size: 15px;
    background-position: center;
        

}

header nav ul li#logo a {
    padding-top: 0px;
    margin-top: 0px;
    display: inline-block;
    margin-left: -10px;
    width:150px;
    height: 100px;
    background: url(../images/logo.png) no-repeat;
    background-size: 150px;
    background-position: center;
    color: transparent;
    
}

header nav ul li#logo a:hover {
    background: url(../images/logo-hover.png) no-repeat;
    background-size: 150px;
}


/* Hero */

#hero {
    background-image: url(../images/bg-tile-yellow.gif);
}

#hero .container {
    width: 100%;
}

#hero .large-ribbon {
    color: transparent;
    width: 150px;
    height: 200px;
    background-size: contain;
    background: url(../images/fresh-whole-ingredients.png) no-repeat;
    position: absolute;
    top: 15%;
    right: 10%;
}


/* The Whole Story */

#story-excerpt {

    display: inline-block;
    width: 530px;

    text-align:left;
    font-size: 16px;   
    
}

#best-donut {

    display: inline-block;
    vertical-align: top;
    width: 270px;

    text-align:left;

    padding-left: 125px;
    background-image: url("../images/award.png");
    background-repeat: no-repeat; 
}

/* News & Events */

#articles {

    display: inline-block;

    max-width: 375px;
    min-width: 200px;
    margin-right: 20px;

    text-align: left;
}

#feature-image {

    display: inline-block;
    vertical-align: top;

    width:528px;
    margin-top: 15px;
}

#news-events article {

    padding-left:50px;
    
}

#news-events article.news {

    background-image: url("../images/icon-news.png");
    background-repeat: no-repeat;
}

#news-events article.event {

    background-image: url("../images/icon-calendar.png");
    background-repeat: no-repeat;    
}

#news-events header time {

    color: #d17f38;
    font-size: 12px;
}

#news-events section.excerpt {

    margin-top: 10px;
}

#news-events footer {

    font-size: 12px;

    margin-bottom: 20px;
}


/* Footer */

footer.main {

    background-image: url(../images/bg-tile-brown.gif);

    margin-top: 50px;
}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

    display: block;
    float: left;

    text-align:left;
}

#credits {

    display: block;
    float: right;

    text-align:left;    
}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





